<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<link rel="stylesheet" href="${static.url('certificates/css/fonts.css')}" />
<style>
    .layout-accomplishment .accomplishment-rendering {
        display: block;
        border: 0;
        overflow-x: scroll;
    }

    @media all {
        .accomplishment-rendering .accomplishment-statement {
            margin: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .accomplishment-statement-header {
        margin-top: 16px;
        font-size: 18px;
        font-weight: normal;
    }

    .accomplishment-statement-title {
        margin-top: 14px;
        font-size: 76px;
        font-wieght: bold;
        color: #ed762d;
    }

    .certificate .accomplishment-rendering .accomplishment-recipient {
        color: #ed762d;
        margin-top: 16px;
        font-size: 56px;
        font-weight: normal;
    }

    .certificate .accomplishment-rendering .accomplishment-course-name {
        font-size: 48px;
        font-weight: bold;
    }

    .certificate .accomplishment-rendering .accomplishment-course-details {
        background-color: #ed762d;
        color: #fff;
        padding: 16px;
        font-size: 22px;
        margin: 24px 190px;
        border-radius: 40px;
    }

    .certificate .accomplishment-rendering .accomplishment-statement,
    .certificate .accomplishment-rendering .accomplishment-statement-lead,
    .certificate .accomplishment-rendering .accomplishment-signatories,
    .certificate .accomplishment-rendering .accomplishment-recipient,
    .certificate .accomplishment-rendering .accomplishment-course {
        font-family: "FFShamelFamily-SansOneBold", Tahoma !important;
    }

    .accomplishment-rendering .accomplishment-signatories {
        margin-${"left" if dir_rtl else "right"}: 20px;
        font-weight: bold;
        margin-top: -40px;
        width: auto;
    }

    .certificate .accomplishment-rendering .accomplishment-statement-lead {
        line-height: 1;
        font-size: 26px;
        margin-top: 12px;
        margin-bottom: 0;
    }

    .accomplishment-signatories .list-signatories {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .accomplishment-rendering .accomplishment-statement,
    .accomplishment-rendering .accomplishment-signatories {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .certificate-date-issued {
        font-size: 23px;
        line-height: 1;
    }

    .accomplishment-rendering .accomplishment-statement,
    .accomplishment-rendering .accomplishment-signatories {
        border: 0;
    }

    .layout-accomplishment .accomplishment-rendering .accomplishment-signatories .signatory-signature {
        display: inline;
        max-height: 80px;
        transform: scale(1.6);
        transform-origin: bottom;
    }

    .course-dates {
        font-size: 27px;
        line-height: 37px;
        display: inline-block;
        width: fit-content;
        text-align: ${"left" if not dir_rtl else "right"};
        font-weight: bold;
    }

    .main-signatory {
        text-align: center;
        position: absolute;
        bottom: 41px;
        right: 18px;
        width: 49%;
        padding: 0 12%;
        box-sizing: border-box;
    }

    img.signature-image {
        max-width: 240px;
        max-height: 78px;
    }

    .accomplishment-rendering .accomplishment-signatories .signatory-name {
        font-size: 25px;
        font-family: "FFHekaya-Light", Tahoma !important;
    }

    @media screen, print {
        .layout-accomplishment .accomplishment-signatories .signatory .signatory-signature {
            height: auto;
            padding: 0;
            max-height: none;
        }
    }

    @media print {
        @page {
            size: A4 landscape;
        }

        .accomplishment-rendering .wrapper-statement-and-signatories {
            border: 0;
        }

        html {
            height: 100%;
            overflow: hidden;
        }

        body {
            margin: 0 auto !important;
            transform-origin: top;
            transform: scale(0.88);
            position: relative;
            width: 1170px;
            height: 828px;
        }

        .layout-accomplishment .accomplishment-rendering {
            margin: 0 auto;
            overflow: hidden;
        }

        .layout-accomplishment .accomplishment-rendering .accomplishment-statement {
            display: block;
            max-width: initial;
            width: 100%;
        }

        .layout-accomplishment .wrapper-accomplishment-metadata .accomplishment-metadata {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0 auto;
        }

        .layout-accomplishment .wrapper-accomplishment-metadata .wrapper-metadata .metadata:last-child {
            display: none;
        }

        .layout-accomplishment .wrapper-accomplishment-metadata .wrapper-metadata {
            justify-content: flex-end !important;
            margin: 0 20px;
        }

        .layout-accomplishment .wrapper-accomplishment-metadata .wrapper-metadata .metadata {
            text-align: left;
        }

        .accomplishment-metadata .wrapper-metadata .metadata .label,
        .accomplishment-metadata .wrapper-metadata .metadata .value {
            font-size: 18px;
            font-weight: bold;
            text-align: ${"left" if dir_rtl else "right"};
        }

        .main-signatory {
            bottom: 61px;
        }
    }
</style>

<main class="accomplishment accomplishment-main">
    <div class="wrapper-accomplishment-rendering">
        <div
            class="accomplishment-rendering"
            style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 100%), url(${static.url('certificates/images/certificate-bg-ar.jpg')}); background-size: cover; width: 1170px; height: 828px;"
        >
            <div class="wrapper-statement-and-signatories">
                <div class="accomplishment-statement">
                    <div class="accomplishment-statement-header">المنصة التعليمية لأكاديمية جيل الترجيح للتأهيل القيادي</div>
                    <div class="accomplishment-statement-title">شهادة إتمام مساق</div>

                    <p class="accomplishment-statement-lead">
                        تمنح الشهادة إلى الطالب<br>
                        <br>
                        <strong class="accomplishment-recipient emphasized">${accomplishment_copy_name}</strong>
                        <div class="accomplishment-course-details">
                            الدارس(ة) لمساق
                            <div class="accomplishment-course emphasized">
                                <div class="accomplishment-course-name">${accomplishment_copy_course_name}</div>
                            </div>
                            <div class="certificate-date-issued">والذي أتمه بنجاح بتاريخ ${certificate_date_issued}</div>
                        </div>
                    </p>
                </div>
                <div class="accomplishment-signatories">
                    <div class="wrapper-signatories">
                        <div class="list-signatories">
                            % if certificate_data:
                                <div></div>
                                % for signatory in certificate_data.get('signatories', []):
                                    % if signatory.get('signature_image_path'):
                                        <div class="main-signatory">
                                            <img src="${signatory.get('signature_image_path')}" class="signature-image" />
                                            <hr style="border: 0; border-bottom: solid 1px black; margin: 2px 0;"/>
                                            <div class="signatory-name">${signatory['title']}: ${signatory['name']}</div>
                                        </div>
                                        <% break %>
                                    % endif
                                % endfor
                            % endif
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">${_("Awarded to:")}</dt>
                    <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src" src="/static/certificates/images/demo-user-profile.png" alt="Recipient Image">
                        </span>
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">${accomplishment_copy_username} @ ${platform_name}</p>
                        </div>
                    </dd>
                </dl>
                <dl class="metadata accomplishment-id">
                    <dt class="label copy copy-meta">${certificate_id_number_title}:</dt>
                    <dd class="value copy copy-base">${certificate_id_number}</dd>
                </dl>
                <dl class="metadata accomplishment-date">
                    <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                    <dd class="value copy copy-base">${certificate_date_issued}</dd>
                </dl>
            </div>
        </div>
    </div>
</main>
